.profile__edit-button {
    width: 24px;
    height: 24px;
    align-self: center;
    background-color: #0000;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid #ffff;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
    }
}