.popup__container {
    position: relative;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
    background-color: #ffffff;
}

@media screen and (max-width:500px) {
    .popup__container {
        max-width: 282px;
        height: 322px;
    }   
}