.element__bin {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/bin-button.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.element__bin:hover {
    opacity: 0.5;
}