.header__logo {
    max-width: 142px;
    align-self: flex-start;
}

@media screen and (max-width: 600px) {
    .header__logo {
        margin-top: 20px;
        margin-left: 27px;
        max-width: 103px;
    }
}