.popup__data {
    padding: 0 35px 37px;
    border: none;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:500px) {
    .popup__data {
    padding: 0 25px 37px;
    }
}
