.profile__add-button {
    margin: 0 0 0 auto;
    width: 150px;
    height: 50px;
    align-self: center;
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-color: #0000;
    border: #FFFFFF 3px solid;
    box-sizing: border-box;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .profile__add-button {
        margin:3px 0 0;
    }
}

@media screen and (max-width: 600px) {
    .profile__add-button {
    width: 100%;
    }
}