.popup__container_image {
    position: relative;
    width: 100%;
    max-width: 825px;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:500px) {
    .popup__container_image {
        max-width: 400px;
    }   
}