.popup__saveButton {
    margin: 48px 0 0;
    height: 50px;
    background-color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:325px) {
    .popup__saveButton {
        margin: 45px 0 0;
        height: 46px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}