.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-repeat: repeat;
    background-color: #000;
    cursor: pointer;
    transition: opacity 0.5s linear;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.5;
}

@media screen and (max-width:500px) {
    .popup__close-button {
        top: -41px;
        right: -7px;
    }
}