.popup__save-button {
    margin: 48px 0 0;
    height: 50px;
    background-color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 0.5s linear;
}

.popup__save-button:hover {
    opacity: 0.7;
}

@media screen and (max-width:500px) {
    .popup__save-button {
        margin: 45px 0 0;
        height: 46px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}