.profile__info {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 18px;
    row-gap: 16px;
}

@media screen and (max-width:800px) {
    .profile__info {
        column-gap: 10px;
        row-gap: 14px;
    }
}