.popup__closeButton {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-repeat: repeat;
    background-color: #000;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.popup__closeButton:hover {
    opacity: 0.5;
}